<form [formGroup]="form" (submit)="handleSubmit($event)" (reset)="handleReset($event)">
  <div class="mb-4">
    <div class="d-flex align-items-baseline">
      <label class="form-label required">Input File Type</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="inputFileType"
        id="inputFileType-seerStatAndCanSurvFiles"
        formControlName="inputFileType"
        value="seerStatAndCanSurvFiles"
      />
      <label class="form-check-label" for="inputFileType-seerStatAndCanSurvFiles">SEER*Stat/CanSurv Files</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="inputFileType"
        id="inputFileType-workspaceFile"
        formControlName="inputFileType"
        value="workspaceFile"
      />
      <label class="form-check-label" for="inputFileType-workspaceFile">Workspace File</label>
    </div>

    <div
      *ngIf="form.controls.inputFileType?.touched && form.controls.workspaceDataFile?.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls.inputFileType?.errors?.required">This field is required.</div>
    </div>
  </div>

  <div class="mb-4" *ngIf="form.value.inputFileType === 'workspaceFile'">
    <div class="d-flex align-items-baseline">
      <label for="workspaceDataFile" class="form-label required">Workspace File</label>
    </div>
    <input
      class="form-control"
      [ngClass]="{
        'is-invalid': form.controls.workspaceDataFile?.touched && form.controls.workspaceDataFile?.invalid
      }"
      type="file"
      name="workspaceDataFile"
      id="workspaceDataFile"
      formControlName="workspaceDataFile"
      accept=".recurrisk_group_data_workspace"
      required
    />
    <div
      *ngIf="form.controls.workspaceDataFile?.touched && form.controls.workspaceDataFile?.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls.workspaceDataFile?.errors?.required">This field is required.</div>
    </div>
  </div>

  <ng-container *ngIf="form.value.inputFileType === 'seerStatAndCanSurvFiles'">
    <div class="mb-4">
      <div class="d-flex align-items-baseline">
        <label for="seerStatDataFiles" class="form-label required">SEER*Stat Dictionary/Data Files (.dic/.txt)</label>
        <a href="assets/files/recurrence_risk_groupdata.zip" target="_blank" class="ms-auto small" download>
          sample
          <span class="visually-hidden">seer*stat data files</span>
        </a>
      </div>

      <input
        class="form-control"
        [ngClass]="{
          'is-invalid': form.controls.seerStatDataFiles?.touched && form.controls.seerStatDataFiles?.invalid
        }"
        type="file"
        id="seerStatDataFiles"
        name="seerStatDataFiles"
        formControlName="seerStatDataFiles"
        accept=".dic,.txt"
        required
        multiple
      />

      <div class="form-text" *ngFor="let file of form.controls.seerStatDataFiles.value">
        {{ file.name }}
      </div>

      <div
        *ngIf="form.controls.seerStatDataFiles?.touched && form.controls.seerStatDataFiles?.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="form.controls.seerStatDataFiles?.errors?.required">SEER*Stat .dic and .txt files are required.</div>
      </div>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-baseline">
        <label for="canSurvDataFile" class="form-label required">CanSurv Data File (.csv)</label>
        <a href="assets/files/groupdata_example_cansurv.csv" target="_blank" class="ms-auto small" download>
          sample
          <span class="visually-hidden">cansurv data file</span>
        </a>
      </div>
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid': form.controls.canSurvDataFile?.touched && form.controls.canSurvDataFile?.invalid
        }"
        type="file"
        name="canSurvDataFile"
        id="canSurvDataFile"
        formControlName="canSurvDataFile"
        accept=".csv"
        required
      />
      <div
        *ngIf="form.controls.canSurvDataFile?.touched && form.controls.canSurvDataFile?.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="form.controls.canSurvDataFile?.errors?.required">This field is required.</div>
      </div>
    </div>
  </ng-container>

  <div class="mb-4">
    <label for="stageVariable" class="form-label required">Stage Variable</label>
    <select
      class="form-select"
      [ngClass]="{
        'is-invalid': form.controls.stageVariable?.touched && form.controls.stageVariable?.invalid
      }"
      id="stageVariable"
      name="stageVariable"
      formControlName="stageVariable"
      required
    >
      <option value="" hidden>No stage variable selected</option>
      <ng-container *ngFor="let header of form.value.seerStatDictionary">
        <option *ngIf="header.factors?.length > 0" [value]="header.name">
          {{ header.name }}
        </option>
      </ng-container>
    </select>

    <div *ngIf="form.controls.stageVariable?.touched && form.controls.stageVariable?.invalid" class="invalid-feedback">
      <div *ngIf="form.controls.stageVariable?.errors?.required">This field is required.</div>
    </div>
  </div>

  <div class="mb-4">
    <label for="distantStageValue" class="form-label required">Distant Stage Value</label>
    <select
      class="form-select"
      [ngClass]="{
        'is-invalid': form.controls.distantStageValue?.touched && form.controls.distantStageValue?.invalid
      }"
      id="distantStageValue"
      name="distantStageValue"
      formControlName="distantStageValue"
      required
    >
      <option value="0" hidden *ngIf="!form.controls.stageVariable.value">No distant stage value selected</option>
      <option
        *ngFor="let option of getFactors(form.value.seerStatDictionary, form.value.stageVariable)"
        [value]="option.value"
      >
        {{ option.value }} - {{ option.label }}
      </option>
    </select>

    <div
      *ngIf="form.controls.distantStageValue?.touched && form.controls.distantStageValue?.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls.distantStageValue?.errors?.required">This field is required.</div>
    </div>
  </div>

  <div class="mb-4">
    <label for="adjustmentFactorR" class="form-label required">Adjustment Factor r</label>
    <input
      class="form-control"
      [ngClass]="{
        'is-invalid': form.controls.adjustmentFactorR?.touched && form.controls.adjustmentFactorR?.invalid
      }"
      type="number"
      id="adjustmentFactorR"
      name="adjustmentFactorR"
      formControlName="adjustmentFactorR"
      step="0.1"
      min="0.5"
      max="2"
      required
    />
    <div
      *ngIf="form.controls.adjustmentFactorR?.touched && form.controls.adjustmentFactorR?.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls.adjustmentFactorR?.errors?.required">This field is required.</div>
      <div *ngIf="form.controls.adjustmentFactorR?.errors?.min">
        Please enter a value equal to or greater than
        {{ form.controls.adjustmentFactorR?.errors?.min?.min }}.
      </div>
      <div *ngIf="form.controls.adjustmentFactorR?.errors?.max">
        Please enter a value equal to or less than
        {{ form.controls.adjustmentFactorR?.errors?.max?.max }}.
      </div>
    </div>
  </div>

  <div class="mb-4">
    <label for="followUpYears" class="form-label required">Years of Follow-up</label>
    <input
      class="form-control"
      [ngClass]="{
        'is-invalid': form.controls.followUpYears?.touched && form.controls.followUpYears?.invalid
      }"
      type="number"
      id="followUpYears"
      name="followUpYears"
      formControlName="followUpYears"
      min="1"
      required
    />
    <div *ngIf="form.controls.followUpYears?.touched && form.controls.followUpYears?.invalid" class="invalid-feedback">
      <div *ngIf="form.controls.followUpYears?.errors?.required">This field is required.</div>
      <div *ngIf="form.controls.followUpYears?.errors?.min">
        Please enter a value equal to or greater than
        {{ form.controls.followUpYears?.errors?.min?.min }}.
      </div>
      <div *ngIf="form.controls.followUpYears?.errors?.max">
        Please enter a value equal to or less than
        {{ form.controls.followUpYears?.errors?.max?.max }}.
      </div>
    </div>
  </div>

  <div class="mb-2">
    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <button type="reset" class="btn btn-outline-danger">Reset</button>
  </div>
</form>
