.sr-only {
  position:absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

:focus.sr-only {
  width: auto;
  height: auto;
  margin: 0;
  overflow: auto;
  clip: auto;
  position:unset;
}

.tool-name{
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.1rem;
}

.navbar-links {
  a {
    color: black;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.4rem 0.7rem;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.25s;
  }

  a.active {
    border-bottom-color: steelblue;
    color: #333c4e;
  }
}