<header>
  <div class="container">
    <div>
      <a class="sr-only" href="#main">Skip to main content</a>
    </div>
    <a href="https://cancercontrol.cancer.gov/" target="_blank">
      <img
        class="mw-100 my-3"
        src="assets/nci-dccps-logo.svg"
        alt="Division of Cancer Control Logo"
        height="60"
      />
    </a>
  </div>

  <div class="bg-primary">
    <div class="container">
      <h1 class="tool-name">RecurRisk</h1>
    </div>
  </div>

  <div class="shadow-sm">
    <div class="container navbar-links">
      <a
        routerLink="/group"
        routerLinkActive="active">
        Group Data
      </a>
      <a
        routerLink="/individual"
        routerLinkActive="active">
        Individual Data
      </a>
    </div>
  </div>
</header>
